body { 
    background: #f3f3f3; 
    font-family: sans-serif; 
    display: grid;
    grid-auto-rows: column;
    grid-gap: 1.1em;
    max-width: 700px;
    margin: 0 auto;
  }
  .display {
    height: auto;
    width: 100%;
  }
  .container {
    display: grid;
    margin-top: 4px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
  }
  .label {
    cursor: pointer;
  }
  .question {
    background: linear-gradient(to bottom,  #f3f3f3 50%, transparent);
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 110%;
    font-weight: bold;
    padding-top: 5px;
  }
  .container:nth-child(even) { background: #e3eaef; }
  .container:nth-child(odd)  { background: #dcdcdc; }
  
  .btn-submit {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px black;
    width: auto;
    height: 3em;
    margin: 1em 0 0 calc(50% - 4em);
    background: linear-gradient(#e3eaef, #dcdcdc);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #424242;
  }
  input {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #9e9e9e;
    border-radius: 50%;
    background: white;
    box-sizing: content-box;
    box-shadow: inset 0 0 4px 1px #b1b1b1;
    cursor: pointer;
    outline: none;
    margin: 0 .5em;
}
input:checked {
   box-shadow: inset 0 0 3px 3px #fff,
   inset 0 0 0 2px white,
   inset 0 0 0 10px #423649;
}
input:hover {
   box-shadow: inset 0 0 0 1px #7b7b7b,
   inset 0 0 0 2px white,
   inset 0 0 5px 5px #423649;
}
.display {
  
}